* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #000;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  flex-wrap: wrap;
  max-width: 95%;
  overflow: hidden;
}

.gallery {
  width: 900px;
   height: 320px;      
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s, filter 0.5s;
}

.gallery div img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.1);
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 20px;
}

